@model LeaveManagementSystem.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Employee Data";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h4>Employee List</h4>
            <form class="form-inline" action="/admin/search">
                @Html.DropDownListFor(temp => temp.Name, Model.Names, "Select Name", new { @class = "form-control mr-sm-2" })
                @Html.DropDownListFor(temp => temp.Role, Model.Roles, "Select Role", new { @class = "form-control mr-sm-2" })
                <button class="btn btn-success">Search</button>
            </form>
            <div class="row nav-item dropdown float-sm-right">
                <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                    Add Employee
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/addemployeehr">
                        Add HR
                    </a>
                    <a class="dropdown-item" href="/admin/addemployeeprojectmanager">
                        Add Project Manager
                    </a>
                </div>
            </div>
        </div>
        
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Designation</th>
                    <th>Address</th>
                    <th>Mobile</th>

                    <th>Special Permission</th>
                    <th>Action</th>
                </tr>
            </thead>

            @foreach (var item in Model.employeeList)
            {

                <tr>
                    <td><img src="data:image;base64,@item.Photo" width="100px" /></td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Designation</td>
                    <td>@item.Address</td>
                    <td>@item.Mobile</td>

                    <td class="justify-content-center">
                        @if (item.Designation == "HR")
                        {
                            if (@item.IsSpecialPermission == true)
                            {
                                <span>Special permission allowed</span>
                            }
                            else
                            {
                                <a class="btn btn-success" href="/admin/specialpermission/@item.EmployeeID">
                                    Allow Permission
                                </a>
                            }
                        }
                    </td>
                    @if (item.Designation == "HR" || item.Designation == "Project Manager")
                    {
                        <td class="justify-content-center">
                            <a class="btn btn-success" href="/admin/updateemployee/@item.EmployeeID">
                                Update
                            </a>
                        
                            <a class="btn btn-danger" href="/admin/employeeremove/@item.EmployeeID">
                                Remove
                            </a>
                        </td>
                    }
                </tr>
            }

        </table>


    </div>
</div>



